.submitButton {
    background-color: #48bb78; 
    transition: background-color 0.3s ease;
}
.submitButton:hover {
    background-color: #38a169;
}
.link_inscription {
    color: #16A34A;
    transition: color 0.3s ease;
}
.link_inscription:hover {
    color: #0f9d58;
}
.google {
    background-color: #48bb78; 
    transition: background-color 0.3s ease;
}
.google:hover {
    background-color: #38a169; 
}

.mail:focus{
outline:none;
}
.motdepasse{
outline: none;
}